﻿<template>
    <v-container fluid grid-list-sm>
        <v-layout row wrap>
            <v-flex v-for="(offert, i) in offerts" :key="i" xs4>   
                <Card :data="offert" />
            </v-flex>    
        </v-layout>
    </v-container>
</template>

<script>
    
    import CardComponent from '../../home/caruzel/CardComponent'

    export default {
        props: ['offerts'],
        components: {
            'Card': CardComponent
        },
        data: function(){
            return {
            }
        },
        methods: {
            getShortText(text){
                var shortText = text.slice(0, 100)+' ...';
                return shortText
            }
        }
    }

</script>