<template>
        <v-list
                dense
                class="grey lighten-4"
                app>
            <template v-for="(item, i) in items">
                <v-layout
                        v-if="item.heading"
                        :key="i"
                        row
                        align-center>
                    <v-flex xs6>
                        <v-subheader v-if="item.heading">
                            {{ item.heading }}
                        </v-subheader>
                    </v-flex>
                    <v-flex xs6 class="text-xs-right">
                        <v-btn small flat>edit</v-btn>
                    </v-flex>
                </v-layout>
                <v-divider
                        v-else-if="item.divider"
                        :key="i"
                        dark
                        class="my-3">
                </v-divider>
                <v-list-tile
                        v-else
                        :key="i"
                        v-on:click="itemClick(item)">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="grey--text">
                            {{ item.text }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
</template>

<script>
    import {router} from '../../../helpers/index';

    export default {
        name: "MenuComponent",
        data: () => ({
            items: [
                {icon: 'lightbulb_outline', text: 'Notes'},
                {icon: 'touch_app', text: 'Reminders'},
                {divider: true},
                {heading: 'Labels'},
                {icon: 'add', text: 'Create new label'},
                {divider: true},
                {icon: 'archive', text: 'Archive'},
                {icon: 'delete', text: 'Trash'},
                {divider: true},
                {icon: 'settings', text: 'Settings'},
                {icon: 'chat_bubble', text: 'Trash'},
                {icon: 'help', text: 'Help'},
                {icon: 'phonelink', text: 'App downloads'},
                {icon: 'keyboard', text: 'Keyboard shortcuts'}
            ],
            loggedIn: localStorage.getItem('user'),
            itemsListMenu: [
                {icon: 'map', text: 'MAP', id: 1},
                {icon: 'supervisor_account', text: 'Company', id: 2 },
                {icon: 'search', text: 'Companys Offerts', id: 4 },
                {icon: 'face', text: 'Professional', id: 3 },
                {icon: 'search', text: 'Proffesionals Offerts', id: 5 },
                ],
            target: ''
        }),
        methods: {
            addMenuItems() {
                if (this.loggedIn) {
                    this.$set(this, 'items', this.itemsListMenu);
                } else {
                    this.$set(this, 'items', this.itemsListMenu);
                }
            },
            itemClick(item) {
                switch (item.id) {
                    case 1:
                        router.push('/map');
                        break;
                    case 2:
                        router.push('/companyProfile');
                        break;
                    case 3:
                        router.push('/professionalProfile');
                        break;
                    case 4:
                        console.log(">>>>", 4, this.target)
                        this.target = "companies"
                        router.push({name: 'searchresult', params:{target:this.target, search: ''}});
                        break;
                    case 5:
                        console.log(">>>>", 5, this.target)
                        this.target = "proffesionals";
                        router.push({name: 'searchresult', params:{target:this.target, search: ''}});
                        break;
                    default:
                        router.push('/');
                        break;
                }
            }
        },
        created: function () {
            this.addMenuItems();
        }
    }
</script>

<style scoped>

</style>