﻿<template>
    <v-navigation-drawer
        :mini-variant.sync="mini"
        v-model="drawer"
        hide-overlay
        stateless
        align-center
        justify-end
        fill-height
    >
        <v-layout relative align-center justify-end>
            <Map />
            <v-btn
                icon
                @click.stop="mini = !mini;setDrawerIcon();"
            >
                <v-icon>{{ icon }}</v-icon>
            </v-btn>
        </v-layout>
    </v-navigation-drawer>
</template>

<script>

    import Map from '../../map/MapComponent';

    export default {
        components: {
            Map
        },
        data () {
        return {
            icon: 'chevron_right',
            drawer: true,
            mini: true,
            right: false
        }
        },
        methods: {
            setDrawerIcon: function(){
                (this.icon == 'chevron_right')?this.$set(this, 'icon', 'chevron_left'):this.$set(this, 'icon', 'chevron_right');
            }
        }
    }

</script>