﻿<template>
    <v-layout px-4>
        <v-flex v-for="(filter, i) in filtersList" :key="i" lg2 md12 px-1>
            <v-select
                v-model="filters"
                :items="filter.items"
                chips
                :label="filter.name"
                multiple
                outline
            ></v-select>
        </v-flex>
    </v-layout>
</template>

<script>

    export default {
        props: ['data'],
        data: function(){
            return {
                filtersList: [
                    {
                        name: 'categorie',
                        items: [
                            'cat-1',
                            'cat-2',
                            'cat-3'
                            ]
                    },
                    {
                        name: 'region',
                        items: [
                            'Wielkopolska',
                            'Małopolska',
                            'Śląsk'
                            ]
                    },
                    {
                        name: 'typ prac',
                        items: [
                            'budowlane',
                            'gastronomia',
                            'sprzątanie'
                            ]
                    }
                ],
                filters: []           
            }
        },
        methods: {}
    }

</script>