<template>

    <v-btn icon v-on:click="goHome()">
        <v-icon>home</v-icon>
    </v-btn>

</template>

<script>
    import {router} from '../../../helpers/index';

    export default {
        name: "HomeComponent",
        methods: {
            goHome: function () {
                router.push('/');
            }
        }
    }
</script>

<style scoped>

</style>