<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card dark color="primary">
                    <v-card-text class="px-0">12</v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card dark color="secondary">
                    <ds-calendar :calendar="calendar">

                        <template slot="eventTimeTitle" slot-scope="{calendarEvent, details}">
                            <div>
                                <v-icon class="ds-ev-icon"
                                        v-if="details.icon"
                                        size="14"
                                        :style="{color: details.forecolor}">
                                    {{ details.icon }}
                                </v-icon>
                                <strong class="ds-ev-title">{{ details.title }}</strong>
                            </div>
                            <div class="ds-ev-description">{{ getCalendarTime( calendarEvent ) }}</div>
                        </template>

                    </ds-calendar>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import {Calendar} from 'dayspan';

    export default {
        name: "CalendarComponent",
        data: () => ({
            calendar: Calendar.months(),
            drawer: null
        }),
        methods: {
            rebuild(aroundDay, force, forceType) {
                let type = forceType || this.currentType || this.types[2];

                if (this.isType(type, aroundDay) && !force) {
                    return;
                }

                let input = {
                    type: type.type,
                    size: type.size,
                    around: aroundDay,
                    eventsOutside: true,
                    preferToday: false,
                    listTimes: type.listTimes,
                    updateRows: type.updateRows,
                    updateColumns: type.listTimes,
                    fill: !type.listTimes,
                    otherwiseFocus: type.focus,
                    repeatCovers: type.repeat
                };

                this.setState(input);
            }
        }
    }
</script>

<style scoped>
</style>