<template>

    <v-menu offset-y>
        <v-btn icon
               slot="activator">
            <v-icon>account_circle</v-icon>
        </v-btn>
        <v-list>
            <v-list-tile
                    v-for="(item, index) in items"
                    :key="index"
                    @click="itemClick(item)"
            >
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-menu>

</template>

<script>
    import {router} from '../../../helpers/index';

    export default {
        name: "UserMenuComponent",
        data: () => ({
            items: [],
            itemsListLogged: [
                {title: 'Profile'},
                {title: 'Sign out'}
            ],
            itemsListNotLogged: [
                {title: 'Log in'},
                {title: 'Registration'}
            ],
            loggedIn: localStorage.getItem('user')
        }),
        methods: {
            addItems: function () {
                if (this.loggedIn) {
                    this.$set(this, 'items', this.itemsListLogged);
                } else {
                    this.$set(this, 'items', this.itemsListNotLogged);
                }
            },
            itemClick: function (item) {
                console.log("item: " + item);
                switch (item.title) {
                    case 'Log in':
                        router.push('/login');
                        break;
                    case 'Registration':
                        router.push('/register');
                        break;
                    case 'Profile':
                        router.push('/personalProfile');
                        break;
                }
            }
        },
        created: function () {
            this.addItems();
        }
    }
</script>

<style scoped>

</style>