<template>

    <v-app id="keep">

        <v-navigation-drawer
                v-model="drawer"
                fixed
                clipped
                class="grey lighten-4"
                app>
            <MainMenu/>
        </v-navigation-drawer>

        <v-toolbar color="amber" app scroll-off-screen
                   clipped-left scroll-threshold="0">

            <!--<template slot="extension">-->

                <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
                <span class="title ml-3 mr-5">e -&nbsp;<span class="font-weight-light">FACH</span></span>

               <v-text-field
                    solo-inverted
                    flat
                    hide-details
                    label="Search"
                    prepend-inner-icon="search"
                    v-on:keyup.enter="showSearchResult"
            >

                </v-text-field>

                <v-spacer></v-spacer>

                <HomeButton/>

                <UserMenu/>

                <v-btn icon>
                    <v-icon>notifications</v-icon>
                </v-btn>

                <v-avatar size="32px" tile>

                    <img v-bind:src="require('../assets/header/miniLogo.png')"
                         alt="eFach">

                </v-avatar>

            <!--</template>-->

        </v-toolbar>
        <v-content @click.native="drawer = false">
            <v-container fluid fill-height class="grey lighten-4">
                <v-flex shrink xs12>

                    <v-layout justify-center align-center>

                        <router-view></router-view>

                    </v-layout>

                </v-flex>
            </v-container>
        </v-content>
        <div id="footer" class="amber mb-2 pa-5">
            <v-layout row wrap id="footer-layout">
                <v-flex xs12 sm6 pa-3>
                    <div class="headline font-weight-medium text-md-center mb-5">Company Info</div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </v-flex>
                <v-flex xs12 sm3 pa-3>
                    <div class="headline font-weight-medium text-md-center mb-5">Links</div>
                    <div class="text-md-center">
                    <a>Link1</a> <br>
                    <a>Link2</a> <br>
                    <a>Link3</a> <br>
                    <a>Link4</a> <br>
                    </div>
                </v-flex>
                <v-flex xs12 sm3 pa-3>
                    <div class="headline font-weight-medium text-md-center mb-5">Connect</div>
                    <div class="text-md-center">
                    <a>Link1</a> <br>
                    <a>Link2</a> <br>
                    <a>Link3</a> <br>
                    <a>Link4</a> <br>
                    </div>
                </v-flex>
            </v-layout>
        </div>
        <footer class="amber px-5 py-1">
            <v-layout row wrap style id="footer-layout">
                <v-flex xs12>
                <div>
                    Made by <span class="red--text font-weight-medium">RedHed Solutions</span>
                </div>
                </v-flex>
            </v-layout>
        </footer>
    </v-app>

</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import {router} from '../helpers/index';
    import MainMenu from '../components/menu/main/MainMenuComponent';
    import UserMenu from '../components/menu/user/UserMenuComponent';
    import HomeButton from "../components/menu/buttons/HomeComponent";

    export default {
        name: 'app',
        components: {
            'MainMenu': MainMenu,
            'UserMenu': UserMenu,
            'HomeButton': HomeButton
        },
        computed: {
            ...mapState({
                alert: state => state.alert
            })
        },
        methods: {
            ...mapActions({
                clearAlert: 'alert/clear'
            }),
            showSearchResult: function(){
                 router.push({name: 'searchresult', params:{target:'search', search: ''}});
            }
        },
        watch: {
            $route(to, from) {
                // clear alert on location change
                this.clearAlert();
            }
        },
        data: () => ({
            drawer: false
        }),
    };
</script>