<template>
    <main>

      <section>
        <v-parallax
                dark
                src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
          <v-layout column align-center justify-center>
            <h2 class="amber--text text--darker-2 mb-2">TITLE</h2>
            <div class="white--text headline mb-3 text-xs-center">Subtitle</div>
          </v-layout>
        </v-parallax>

        <div id="content">
          <v-layout row wrap class="my-5 py-3" white>

            <v-flex xs12 sm4 px-1>
              <v-card class="elevation-0">
                <v-img height="45px" class="text-xs-center">
                  <v-icon x-large class="brown--text">flash_on</v-icon>
                </v-img>
                <v-card-title primary-title>
                  <div class="headline text-xs-center">Title</div>
                </v-card-title>
                <v-card-text>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex xs12 sm4 px-1>
              <v-card class="elevation-0">
                <v-img height="45px" class="text-xs-center">
                  <v-icon x-large class="brown--text">group</v-icon>
                </v-img>
                <v-card-title primary-title>
                  <div class="headline text-xs-center" >Title</div>
                </v-card-title>
                <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </v-card-text>
              </v-card>
            </v-flex>

            <v-flex xs12 sm4 px-1>
              <v-card class="elevation-0">
                <v-img height="45px" class="text-xs-center">
                  <v-icon x-large class="brown--text">settings</v-icon>
                </v-img>
                <v-card-title primary-title>
                  <div class="headline text-xs-center">Title</div>
                </v-card-title>
                <v-card-text>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </v-card-text>
              </v-card>
            </v-flex>

          </v-layout>
        </div>
      </section>

      <section>
        <div id="content">
          <v-layout row wrap class="my-5 py-3" >
            <v-flex xs12>
              <v-card class="elevation-0">
                <v-card-title primary-title>
                  <div class="headline text-xs-center">Contact Us</div>
                </v-card-title>
                <v-card-text>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. 
                  Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. 
                  Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere 
                  et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl 
                  maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida 
                  ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in 
                  faucibus orci luctus et ultrices posuere cubilia Curae;
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </div>
      </section>

      <section>
        <Caruzel :data="caruzelData" itemsChunkNumber=3 />
      </section>
    </main>
</template>

<script>
    import MenuComponent from '../menu/main/MainMenuComponent';
    import Caruzel from './caruzel/CaruzelComponent';

    export default {
        components: {
            'MenuComponent': MenuComponent,
            'Caruzel': Caruzel,
        },
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
            caruzelData: [
              {
                img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                title: 'TITLE',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
              },
              {
                img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                title: 'TITLE',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
              },
              {
                img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                title: 'TITLE',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
              },
              {
                img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                title: 'TITLE',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
              }
            ]
        })
    }
</script>

<style lang="stylus">
    #keep
        .v-navigation-drawer__border
            display: none
</style>