﻿<template>
    <v-card 
        dark
    >
        <v-img
            :src="data.img"
            aspect-ratio="2.75"
            contain
            :alt="data.alt"
        ></v-img>

        <v-card-title
            primary-title
        >
            <div>
                <h3>{{data.title}}</h3>
                <div>{{ getShortText(data.text) }}</div>
            </div>
        </v-card-title>
        <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>

    export default {
        props: ['data'],
        data: function(){
            return {}
        },
        methods: {
            getShortText(text){
                var shortText = text.slice(0, 450)+' ...';
                return shortText
            }
        }
    }

</script>