﻿<template>
    <v-carousel pa-0 ma-0>
        <CaruzelItem v-for="(item, i) in items" :data="item" :itemsChunkNumber="itemsChunkNumber" :key="i"/>
    </v-carousel>
</template>

<script>
    import CaruzelItem from './CaruzelItemComponent';

    export default {
        props: ['data', 'itemsChunkNumber'],
        components: {
            'CaruzelItem': CaruzelItem
        },
        data: function(){
            return {
                items: [],
                itemsLength: Number
            }
        },
        methods: {
            divideToItems: function(){
                var index = 0;
                var itemsChunkNumber = Number(this.itemsChunkNumber)
                var arrayLength = this.data.length;
                var tempArray = [];

                for (index = 0; index < arrayLength; index += itemsChunkNumber) {
                   var myChunk = this.data.slice(index, index+itemsChunkNumber);

                    tempArray.push(myChunk);
                }

                this.$set(this, 'items', tempArray);                
            },
        },
        created: function(){
            this.divideToItems();
        }
    }    
</script>