﻿<template>
    <v-carousel-item pa-0 ma-0>
        <v-layout align-space-around justify-space-around row fill-height wrap pa-0 ma-0>
            <v-flex :class="grid" px-1 d-flex v-for="(card, i) in data" :key="i">
                <Card :data="card" />
            </v-flex>
        </v-layout>
    </v-carousel-item>
</template>

<script>
    import Card from './CardComponent';

    export default {
        props: ['data', 'itemsChunkNumber'],
        components: {
            'Card': Card
        },
        data: function(){
            return {
                grid: this.cardNumbers()                
            }
        },
        methods: {
            cardNumbers: function(){
                var number = 12/this.itemsChunkNumber;
                return 'xs'+number
            },
        }        
    }    
</script>