<template>
    <div>
        <b-card title="Card title"
                sub-title="Card subtitle">
            <p class="card-text">
                Some quick example text to build on the <em>card title</em> and make up the bulk of the card's
                content.
            </p>
            <a href="#"
               class="card-link">Card link</a>
            <b-link href="#"
                    class="card-link">Another link
            </b-link>
        </b-card>
    </div>
</template>

<script>
    import bCard from 'bootstrap-vue/es/components/card/card';

    export default {
        name: "CompanyCard",
        components: {
            'b-card': bCard
        },
        methods: {},
        watch: {}
    }
</script>

<style scoped>

</style>