﻿<template>
    <v-layout fluid row>
        <v-flex>
            <DrawerMap /> 
        </v-flex>
        <v-flex xs11>
            <Filters />
            <SearchList :offerts="offerts" />
        </v-flex>
    </v-layout>
</template>

<script>
    
    import SearchList from './searchList/SearchListComponent';
    import Filters from './filters/FiltersComponent';
    import DrawerMap from './drawer/DrawerComponent';

    export default {
        props: ['target','search'],
        components: {
            SearchList,
            Filters,
            DrawerMap
        },
        data: function(){
            return {
                offerts: [
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Offert Name',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },                                        
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Offert Name',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },                                        
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Offert Name',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },                                        
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Offert Name',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },                                        
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Offert Name',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },                                        
                ],
                chosenFilters: []
            }
        },
        methods: {
            getShortText(text){
                var shortText = text.slice(0, 100)+' ...';
                return shortText
            }
        },
        watsch: {
            'this.target': function(newTarget){
                console.log("test", newTarget);
            }
        },
        created: function(){
                console.log("test", this.target);            
        }
    }

</script>