<template>
        <gmap-map
                :center="center"
                :zoom="12"
                style="width:100%;  height: 700px;"
        >
        </gmap-map>
</template>

<script>
    export default {
        name: "GoogleMap",
        data() {
            return {
                // default to Montreal to keep it simple
                // change this to whatever makes sense
                center: { lat: 0.0, lng: 0.0 }
            };
        },

        mounted() {
            this.geolocate();
        },

        methods: {
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },
        }
    };
</script>