﻿<template>

    <v-layout justify-center row fill-height>
        <v-flex xs12 px-1>
            <div class="text-xs-center">
                <v-avatar size="125px">
                    <img
                        class="img-circle elevation-7 mb-1"
                        :src="avatar"
                    >
                </v-avatar>
                <div class="headline">{{name}} <span style="font-weight:bold">{{surname}}</span></div>
                <div>
                    <span v-for="(profession, i) in professions" :key="i">
                        {{profession}},
                    </span>
                </div>
                <div class="subheading text-xs-center grey--text pt-1 pb-3">{{about}}</div>
                <v-layout justify-space-around>
                    <a href="javascript:;" class="body-2">Home</a>
                    <a href="javascript:;" class="body-2">About</a>
                </v-layout>
            </div>

            <Caruzel :data="caruzelData" itemsChunkNumber=1 />

        </v-flex>
        <v-flex xs12 px-1>
            <div v-for="post in posts" :key="post.title" auto>
                <v-card class="my-3" hover>
                    <v-img
                        class="dark--text"
                        height="170px"
                        contain
                        :src="post.imgUrl"
                    >
                        <v-container fill-height fluid>
                            <v-layout>
                                <v-flex xs12 align-end d-flex>
                                    <span class="headline">{{ post.title }}</span>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-img>
                    <v-card-text>
                        {{ post.content }}
                    </v-card-text>
                    <v-card-actions>
                        <v-btn icon class="red--text">
                            <v-icon medium>fa-reddit</v-icon>
                        </v-btn>
                        <v-btn icon class="light-blue--text">
                            <v-icon medium>fa-twitter</v-icon>
                        </v-btn>
                        <v-btn icon class="blue--text text--darken-4">
                            <v-icon medium>fa-facebook</v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn flat class="blue--text">Read More</v-btn>
                    </v-card-actions>
                </v-card>
            </div>
        </v-flex>
    </v-layout>
    <!---->
    <!--<Calendar/>-->
</template>

<script>
    import Caruzel from '../home/caruzel/CaruzelComponent';

    export default {
        name: "ProfessionalProfileComponent",
        components: {
            'Caruzel': Caruzel
        },
        data() {
            return {
                title: 'Your Logo',
                avatar: 'https://randomuser.me/api/portraits/men/35.jpg',
                name: 'Jam',
                surname: 'Kowalski',
                professions: ['murarz', 'kokarz', 'nauczyciel'],
                about: 'Niszczę kwiatki',
                posts: [
                    {
                        imgUrl: 'https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg',
                        title: 'Title',
                        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },
                    {
                        imgUrl: 'https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg',
                        title: 'Title',
                        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },
                    {
                        imgUrl: 'https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg',
                        title: 'Title',
                        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },
                    {
                        imgUrl: 'https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg',
                        title: 'Title',
                        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                    },
                ],
                caruzelData: [
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Title',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    },
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Title',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    },
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Title',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    },
                    {
                        img: "https://upload.wikimedia.org/wikipedia/commons/5/55/Brak_obrazka.svg",
                        title: 'Title',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    },
                ]
            }
        }
    }
</script>

<style scoped>

</style>